<table class="table table-stripped">
  <tr>
    <td>ID</td>
    <td>Username</td>
    <td>First Name</td>
    <td>Last Name</td>
    <td>Email</td>
    <td>Role</td>
    <td>Delete</td>
    <td>Edit</td>
    <td>Admin</td>
    <td>Subscriber</td>
    
  </tr>
  <% 
    
  
  
  
    if(userData.length!=0) {
      Object.keys(userData).forEach((key) => {
  %>    
    <tr>
      <td><%=userData[key].user_id%></td>
      <td><%=userData[key].user_name%></td>
      <td><%=userData[key].first_name%></td>
      <td><%=userData[key].last_name%></td>
      <td><%=userData[key].user_email%></td>
      <td><%=userData[key].user_role%></td>
      <td><a href="/delete_user?del=<%=userData[key].user_id%>" class="btn btn-danger"><span class="fa fa-trash"></span></a></td>
      <td><a href="/update_user?id=<%=userData[key].user_id%>" class="btn btn-success"><span class="fa fa-pencil"></span></a></td>
      <td><a href="/update_user?id=<%=userData[key].user_id%>&role=Admin" class="btn btn-success"><span class="fa fa-user"></span></a></td>
      <td><a href="/update_user?id=<%=userData[key].user_id%>&role=Subscriber" class="btn btn-primary"><span class="fa fa-users"></span></a></td>
    </tr>
  <%
      });
    }
  %>
</table> 